*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --white-color: #fff;
    --semi-white-color: antiquewhite;
    --orange-color: #ffa500;
    --dark-color: #020202;
    --gray-color:  rgb(206, 206, 202);
    --grren-color: #3bdc38;
    --ash-white-smooth-color: #eaf6f6;
    --dark-blue-color: rgb(237, 238, 236);
}
body{
    font-family: 'Familjen Grotesk', sans-serif;
    background: var(--ash-white-smooth-color);
}
.mainContainer{
    padding: 10px;
    margin-top: 15px;
}
.header{
    margin: 25px;
    text-align: center;
    font-size: 2.5rem;
}
.container-features{
    line-height: 2;
    text-align: justify;
    font-size: 17px;
    margin: 15px;
    padding: 5px;
}
.container-features ul{
    list-style: lower-roman;
}
.globalFooter{
    margin-top: 200px;
}
/* Media querry section */

@media (width <=760px){
    /* body{
        overflow-x: hidden;
    } */
    .mainContainer{
        overflow-x: hidden;
    }
    .globalFooter{
        position: absolute;
        bottom: 5000px;
        left: 0;
        right: 0;
    }
}