
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --white-color: #fff;
    --semi-white-color: antiquewhite;
    --orange-color: #ffa500;
    --dark-color: #020202;
    --gray-color:  rgb(206, 206, 202);
    --grren-color: #3bdc38;
    --ash-white-smooth-color: #eaf6f6;
    --dark-blue-color: rgb(237, 238, 236);
}
body{
    font-family: 'Familjen Grotesk', sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    /* height: 500px; */
    display: grid;
    place-content: center;
    min-height: 100vh;
    background: var(--ash-white-smooth-color);
}
.card-body .card-text{
    text-align: justify;
}
.card-body i{
    font-size: 25px;
}
.card-body i:hover{
    transform: translateX(10px);
    transition: .8s ease;
}
.card-text button{
    border: none;
    font-size: 20px;
    background: transparent;
    margin: 10px;
}
#Status{
    color: var(--grren-color);
    font-weight: bold;
}

.social-icons a{
    padding: 10px;
}